@layer components {
  .x-input {
    @apply block w-full flex-1 rounded-md border-0 py-1.5 px-2 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;

    &[disabled] {
      @apply opacity-50 cursor-not-allowed;
    }

    &.has_error {
      @apply outline outline-red-500;
    }
  }
}